@model IEnumerable<GerenciamentoMercadoria.Models.EntradaMercadoria>

@{
    ViewData["Title"] = "Entrada Mercadoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="list">
    <h1>Entrada de mercadorias</h1>

    <button type="button" class="btn btn-success" data-toggle="ajax-modal" data-target="#staticBackdrop"
            data-url="@Url.Action("Create")">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-plus" viewBox="4 4 7 10">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
        Novo
    </button>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Quantidade)
                </th>
                 <th>
                    @Html.DisplayNameFor(model => model.Mercadoria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Local)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mercadoria.Nome)
                </td>
                <td>
                    @item.Data.ToString("dd/MM/yyyy HH:mm")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Local)
                </td>
                <td>
                    <button type="button" class="btn btn-warning" data-toggle="ajax-modal" data-target="#staticBackdrop"
                        data-url="@Url.Action("Edit", new {id = item.Id})">
                        Editar
                    </button>

                    <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#staticBackdrop"
                        data-url="@Url.Action("Details", new {id = item.Id})">
                        Detalhes
                    </button>

                    <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-target="#staticBackdrop"
                        data-url="@Url.Action("Delete", new {id = item.Id})">
                        Deletar
                    </button>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

<div id="placeholderHere"></div>
