@model GerenciamentoMercadoria.Models.Mercadoria

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="list">
    <h3>Deletar Mercadoria</h3>
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Nome)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NumRegistro)
                </th>
                <td>
                    @Html.DisplayFor(model => model.NumRegistro)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fabricante)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Fabricante)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Tipo)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Descricao)
                </td>
            </tr>
        </tbody>
    </table>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MercadoriaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
