@model IEnumerable<GerenciamentoMercadoria.Models.Mercadoria>

@{
    ViewData["Title"] = "Mercadoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="list">
    <h1>Mercadorias</h1>

    <button type="button" class="btn btn-success" data-toggle="ajax-modal" data-target="#staticBackdrop"
            data-url="@Url.Action("Create")">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-plus" viewBox="4 4 7 10">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
        Novo
    </button>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumRegistro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fabricante)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td class="d-none">
                    @item.MercadoriaId
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumRegistro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fabricante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    <button type="button" class="btn btn-warning" data-toggle="ajax-modal" data-target="#staticBackdrop"
                        data-url="@Url.Action("Edit", new {id = item.MercadoriaId})">
                        Editar
                    </button>

                    <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#staticBackdrop"
                        data-url="@Url.Action("Details", new {id = item.MercadoriaId})">
                        Detalhes
                    </button>

                    <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-target="#staticBackdrop" 
                        data-url="@Url.Action("Delete", new {id = item.MercadoriaId})">Deletar</button>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

<div id="placeholderHere"></div>